<div class="container mt-5 text-center">
	<img src="https://hustleisep.fr/wp-content/uploads/2017/09/Copie-de-logoettexte-2-2.png" alt="rss feed" width="200px"/>
	<h1 class="text-center mt-3">Startup Weekend 2019</h1>

	<div class="container mt-5 d-flex flex-column">
		<h2>Samedi 23 novembre</h2>
		<%= link_to "Idéation" %>
		<%= link_to "Branding" %>
		<%= link_to "Business Model" %>
		<%= link_to "Test & Learn" %>
	</div>
	<div class="container mt-5 d-flex flex-column">
		<h2>Dimanche 24 novembre</h2>
		<%= link_to "Feedbacks" %>
		<%= link_to "Pitch time" %>
	</div>
</div>

