<!-- Navbar -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://d16eb91qtkpbx0.cloudfront.net/images/2017/09/03/59ac607614640.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <h1 class="text-center mt-3">Startup Weekend 2019</h1>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%= image_tag "https://www.biography.com/.image/t_share/MTY2MzU3Nzk2OTM2MjMwNTkx/elon_musk_royal_society.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Elon is fake.", "#", class: "dropdown-item" %>
          <%= link_to "You're better.", "#", class: "dropdown-item" %>
          <%= link_to "Way better.", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>



<!-- content -->
<div class="container d-flex mt-5 text-center mb-5">
	<div class="container mt-5 d-flex flex-column">
		<h2>Samedi 23 novembre</h2>
		<p>10h00 - 11h00 : <%= link_to "Idéation" %></p>
		<p>11h00 - 13h00 : <%= link_to "Branding" %></p>
		<p>14h00 - 15h30 : <%= link_to "Business Model" %></p>
		<p>15h3 - 17h00 : <%= link_to "Test & Learn" %></p>
		<p>17h00 - 18h00 : <%= link_to "Office hours The Family" %></p>
	</div>
	<div class="container mt-5 d-flex flex-column">
		<h2>Dimanche 24 novembre</h2>
		<p>9h00 - 10h00 : <%= link_to "Feedbacks" %></p>
		<p>10h00 - 14h00 : <%= link_to "Préparation pitch" %></p>
		<p>15h00 - 16h00 : <%= link_to "Pitch time" %></p>
	</div>
</div>

<div class="container text-center mt-3 mb-5">
	<a href="https://www.messenger.com/t/ben.dut.754" target="_blank" class="btn btn-staff">Call Staff</a>
</div>




<!-- footer -->
<div class="footer d-flex flex-column text-center mt-5">
	<div class="mt-3"><%= image_tag "https://hustleisep.fr/wp-content/uploads/2017/09/Copie-de-logoettexte-2-2.png", width:"150px" %></div>
  	<div class="footer-links mt-3">
    	<a href="https://www.instagram.com/hustleisep/" target="_blank"><i class="fab fa-instagram"></i></a>
    	<a href="https://www.facebook.com/hustleisep/" target="_blank"><i class="fab fa-facebook"></i></a>
    	<a href="https://twitter.com/hustleisep" target="_blank"><i class="fab fa-twitter"></i></a>
  	</div>
</div>




